.all-box {
    border: 1px solid #c5c5c5;
    height: 24rem;
    margin-top: 5rem;
    width: 65rem;
    margin-left: 28rem;

    .text-up {
        margin-top: 6rem;
    }

    .sign-up-bar {
        margin-top: 10rem;
        margin-right: 29.5rem;
        // border: 1px solid black;
        // height: 25rem;

        .button-up {

            Button {
                // background-color: black;
                width: 15%;
                padding: 10px 10px;
                border: 1px solid black;
                margin-left: 16.6rem;
                color: white;
                background-color: black;
            }

        }
    }
}