.main {

    .banner {
        height: 25rem;
        margin-top: 2rem;
        margin-left: 5rem;
        margin-right: 5rem;
        background: #f3f3f3;

        h1 {
            margin-left: -70rem;
            font-size: 45px;
            margin-top: -20rem;
            font-weight: 400;
            background: #f3f3f3;
        }

        h3{
            margin-left: -53.5rem;
            font-size: 15px;
            // width: 250px;
            font-weight: 400;
            background: #f3f3f3;
            
        }

        img {
            height: 400px;
            margin-left: 60rem;
            background-color: #f3f3f3;
        }
    }


}