.footer-logo{
    margin-top: 55rem;
    background-color: #f0f0f0;
    height: 12rem;

    img{
        background-color: #f0f0f0;
        margin-top: 2rem;
    }

    h6{
        background-color: #f0f0f0;
        color: #4a4a4a;
    }

    .developed{
        display: flex;
        background-color: #f0f0f0;
        margin-top: -5rem;
        font-size: 13px;
        margin-left: 50px;
        font-weight: 400;
        color: #4a4a4a;

        a{
            color: #4a4a4a;
            background-color: #f0f0f0;
        }
    }

    .project{
        display: flex;
        background-color: #f0f0f0;
        margin-top: -1rem;
        font-size: 13px;
        margin-left: 102rem;
        font-weight: 400;
        color: #4a4a4a;

        a{
            color: #4a4a4a;
            background-color: #f0f0f0;
        }
    }
}