.fetch-item {
    margin-left: 7rem;
    margin-top: 5rem;

    .fetch-img {
        display: block;
        border: 1px solid #e1e1e1;
        margin-top: 7rem;
        margin: 35px 15px;
        // width: 21rem;
        float: left;
        // opacity: 1;
        height: 18rem;
        width: 13.2rem;

        object-fit: contain;



        img {
            background-color: #f1f1f1;
            width: 210px;
            height: 150px;
            cursor: pointer;
        }

        .name-sub {
            margin-top: 20px;
            // margin-bottom: 20px;

            .fetch-shop-name {
                font-size: 15px;
                // display: flex;
                // margin-left: 20px;
                font-weight: 500;
            }

            .fetch-shop-subName {
                font-size: 12px;
                font-style: italic;
                color: #818181;
                margin-top: 5px;
            }

            .fetch-shop-price {
                font-weight: 700;
                margin-top: 10px;
            }

            .fetch-shop-cart {
                // background-color: black;
                color: white;
                margin-top: 7px;
                // position: absolute;
                bottom: 0%;
                // font-size: 1.2rem;
                // transition: all .4s ease-in-out;

                // .fetch-shop-cart:active{
                //     transform: translateY(5rem);
                // }

                &:hover {
                    transition: all .2s cubic-bezier(.77, 0, .175, 1);
                    transform: scale(1.0100);
                    background-color: black;
                    cursor: pointer;
                }

            }
        }


        &:hover {
            transition: all .5s cubic-bezier(.77, 0, .175, 1);
            transform: scale(1.0100);
            // background-color: black;



            .fetch-name::hover {
                transition: none;
                transform: none;
            }
        }
    }

}